.background-top {
  width: 100%;
  display: flex;
  background: #621017;
  height: 300px;
  margin: 0px;
  padding: 0px; }
  .background-top .short-information {
    position: relative;
    margin-left: 60px;
    margin-top: 20px; }
    .background-top .short-information p,
    .background-top .short-information h1 {
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      color: ivory; }
    .background-top .short-information h1 {
      font-size: 37px; }
    .background-top .short-information p {
      font-size: 16px; }

.about-me-card {
  height: 300px;
  left: 20%;
  margin-top: -150px;
  margin-left: 20%;
  width: 60%;
  background: white;
  display: flex; }
  .about-me-card .photo {
    flex: 1; }
    .about-me-card .photo img {
      max-width: 300px;
      max-height: 300px;
      min-width: 300px;
      min-height: 300px;
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 100%; }
  .about-me-card .information {
    flex: 2;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; }
    .about-me-card .information h2 .color {
      color: #621017; }
    .about-me-card .information p,
    .about-me-card .information h2,
    .about-me-card .information table {
      margin-left: 10px; }
    .about-me-card .information p {
      margin-top: -10px; }
    .about-me-card .information table {
      font-size: 110%;
      width: 70%; }
      .about-me-card .information table tbody {
        margin-top: 20px;
        margin-bottom: 38px; }
        .about-me-card .information table tbody tr td {
          padding-right: 20px; }
          .about-me-card .information table tbody tr td a {
            text-decoration: none;
            color: #621017; }
            .about-me-card .information table tbody tr td a :visited {
              color: #621017; }
          .about-me-card .information table tbody tr td ul {
            padding: 0;
            margin: 0;
            margin-top: -3px; }
            .about-me-card .information table tbody tr td ul li {
              white-space: nowrap;
              list-style: none;
              padding-left: 24px;
              width: 20px;
              height: 20px; }

.my-skills {
  margin: 40px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; }
  .my-skills h1 {
    color: #621017; }
  .my-skills ul {
    margin-left: 10%;
    font-size: 18px;
    text-align: justify;
    columns: 2; }

.about-my-self {
  margin: 40px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; }
  .about-my-self h1 {
    color: #621017; }
  .about-my-self p {
    margin-left: 40px;
    text-align: left;
    font-size: 18px; }

.my-education {
  margin: 40px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; }
  .my-education h1 {
    color: #621017; }
  .my-education .container {
    width: 80%;
    padding: 50px 0;
    margin: 30px auto;
    position: relative;
    overflow: hidden; }
    .my-education .container .timeline-block {
      width: calc(50% + 8px);
      display: flex;
      clear: both; }
      .my-education .container .timeline-block .marker {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid #F5F7FA;
        background: #621017;
        margin-top: 10px;
        z-index: 9999; }
      .my-education .container .timeline-block .timeline-content {
        width: 95%;
        padding: 0 15px;
        color: #621017; }
        .my-education .container .timeline-block .timeline-content h3 {
          margin-top: 5px;
          margin-bottom: 5px;
          font-size: 25px;
          font-weight: 500; }
        .my-education .container .timeline-block .timeline-content span {
          font-size: 16px;
          color: #a4a4a4; }
        .my-education .container .timeline-block .timeline-content p {
          font-size: 16px;
          line-height: 1.5em;
          word-spacing: 1px;
          color: black; }
    .my-education .container .timeline-block-right {
      float: right; }
    .my-education .container .timeline-block-left {
      float: left;
      direction: rtl; }
  .my-education .container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1; }

@media (max-width: 1200px) {
  .background-top .short-information {
    margin-left: 30px; }
    .background-top .short-information h1 {
      font-size: 25px; }
    .background-top .short-information p {
      font-size: 15px; }

  .about-me-card {
    max-height: 300px;
    width: 90%;
    margin: auto;
    margin-top: -150px;
    background: white; }
    .about-me-card .information p,
    .about-me-card .information h2,
    .about-me-card .information table {
      margin-left: 10px; }
    .about-me-card .information table {
      margin-top: 5px; }

  .my-skills h1 {
    font-size: 25px; }
  .my-skills ul {
    font-size: 16px;
    margin-left: 0%; }

  .about-my-self h1 {
    font-size: 25px; }
  .about-my-self p {
    font-size: 16px; }

  .my-education h1 {
    font-size: 25px; }
  .my-education .container {
    padding: 0px;
    width: 90%; }
    .my-education .container .timeline-block .timeline-content h3 {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: 500; }
    .my-education .container .timeline-block .timeline-content span {
      font-size: 16px;
      color: #a4a4a4; }
    .my-education .container .timeline-block .timeline-content p {
      font-size: 16px;
      line-height: 1.5em;
      word-spacing: 1px;
      color: black; } }
@media (max-width: 800px) {
  .about-me-card {
    max-height: 200px;
    margin-left: 30%;
    width: 40%;
    flex-flow: column; }
    .about-me-card .photo img {
      max-width: none;
      max-height: none;
      min-width: 300px;
      min-height: 300px; }
    .about-me-card .information table {
      font-size: 80%;
      margin-top: 5px; }

  .my-skills {
    margin-top: 370px; }
    .my-skills ul {
      margin-left: 5%;
      font-size: 14px; }

  .about-my-self h1 {
    font-size: 20px; }
  .about-my-self p {
    font-size: 14px; }

  .my-education .container {
    padding: 0px;
    width: 90%; }
    .my-education .container .timeline-block .timeline-content h3 {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: 500; }
    .my-education .container .timeline-block .timeline-content span {
      font-size: 10px;
      color: #a4a4a4; }
    .my-education .container .timeline-block .timeline-content p {
      font-size: 12px;
      line-height: 1.5em;
      word-spacing: 1px;
      color: black; } }
@media (max-width: 768px) {
  .background-top {
    height: 250px; }
    .background-top .short-information {
      position: relative;
      margin-left: 60px;
      margin-top: 20px; }
      .background-top .short-information p,
      .background-top .short-information h1 {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        color: ivory; }
      .background-top .short-information h1 {
        font-size: 25px; }
      .background-top .short-information p {
        margin-top: -10px;
        font-size: 14px; }

  .my-education .container .timeline-block {
    width: 100%;
    margin-bottom: 30px; }
  .my-education .container .timeline-block-right {
    float: none; }
  .my-education .container .timeline-block-left {
    float: none;
    direction: ltr; }
  .my-education .container:before {
    left: 8px;
    width: 2px; }

  .my-skills {
    margin-top: 410px; } }
@media (max-width: 650px) {
  .about-me-card .information p,
  .about-me-card .information h2,
  .about-me-card .information table {
    margin-left: 10px; }
  .about-me-card .information table {
    margin-top: 5px; }

  .my-skills {
    margin-top: 420px; } }
@media print {
  .background-top .short-information {
    margin-left: 30px; }
    .background-top .short-information h1 {
      font-size: 25px; }
    .background-top .short-information p {
      font-size: 15px; }

  .about-me-card {
    flex-flow: row;
    max-height: 220px;
    width: 80%;
    margin: auto;
    margin-top: -150px;
    background: white; }
    .about-me-card .photo img {
      min-width: 220px;
      min-height: 220px;
      max-width: 220px;
      max-height: 220px; }
    .about-me-card .information table {
      font-size: 70%; }

  .my-skills {
    margin-top: 45px; }
    .my-skills h1 {
      font-size: 20px; }
    .my-skills ul {
      margin-left: 0%;
      font-size: 14px; }

  .my-education .container {
    padding: 0px;
    width: 90%; }
    .my-education .container .timeline-block .marker {
      margin-top: 6px; }
    .my-education .container .timeline-block .timeline-content h3 {
      font-size: 15px;
      font-weight: 300;
      margin-bottom: -3px; }
    .my-education .container .timeline-block .timeline-content p {
      margin-top: -3px; } }
